body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:#161A30;
}

#timerDisplay {
    font-size: 2em;
    margin: 30px auto 20px;
    align-items: center;
    color: #3498db;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

input {
    width: 135px;
    margin-bottom: 20px;
    -moz-appearance: textfield;
    background-color:#161A30;
    color: #ffffff;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    color: #3498db;
}

button {
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    background-color: #6DB9EF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    
    
}
button:hover {
    background-color: #6DB9EF;
}

#startButton i,
#resetButton i,
#pauseButton i {
    color: #ffffff; 
}

.controls button {
    margin: 5px auto;
}
